In [133]:
import numpy as np
import pandas as pd

df = pd.read_csv('movies_2.csv') # Gathering data
df.head(5)

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

In [134]:
#Assessing data

#shape of Dataframe
df.shape

#All info of Dataframe
df.info()

# just the types of each column (again)
df.dtypes

# NAN values that look like Boolean mask
df.isna()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
611,False,False,False,False,False,False,False,False,True,True,True
612,False,False,False,False,False,False,False,False,True,True,True
613,False,False,False,False,False,False,False,False,True,True,True
614,False,False,False,False,False,False,False,False,True,True,True
615,False,True,True,True,True,True,True,True,True,True,True

In [135]:
#drop last row(containing all NAN)
df=df.drop(labels=615,axis=0)

#drop summary column
df=df.drop(labels='Summary',axis=1)

In [136]:
#rename method to change all columns names lowercase and add an underscore if they are made of 2 words

column_mapper={ 'MovieID':'movie_id',
                'Title':'title', 
            	'MPAA Rating':'mpaa_rating',
                'Budget':'budget',
                'Gross':'gross',
            	'Release Date':'release_date',
            	'Genre':'genre'	,
                'Runtime':'runtime',
                'Rating':'rating',
                'Rating Count':'rating_count',
               }

df=df.rename(mapper=column_mapper, axis=1)

df

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN

In [137]:
#use fillna() method to replace the missing values of Rating with their median
df["rating"].fillna(value=df["rating"].median(), inplace=True)
df

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,2.960000e+08,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,1.457933e+08,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,7.107992e+07,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,1.610017e+08,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,8.443162e+07,1989-04-21,Drama,107.0,7.5,101702.0
...,...,...,...,...,...,...,...,...,...,...
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,6.9,NaN
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,6.9,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,6.9,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,6.9,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,6.9,NaN

In [138]:
#The Rating Count column is also skewed, use the same method to fill the missing values.
df['rating_count'].fillna(value=df['rating_count'].median(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        615 non-null    float64
 9   rating_count  615 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [139]:
df.drop_duplicates(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      615 non-null    int64
 1   title         615 non-null    object
 2   mpaa_rating   615 non-null    object
 3   budget        615 non-null    float64
 4   gross         615 non-null    float64
 5   release_date  615 non-null    object
 6   genre         615 non-null    object
 7   runtime       615 non-null    float64
 8   rating        615 non-null    float64
 9   rating_count  615 non-null    float64
dtypes: float64(5), int64(1), object(4)
memory usage: 48.2+ KB

In [148]:
#Convert Budget into integer type (use astype() method)
#Convert Gross into integer type
df=df.astype({'budget':'int','gross':'int64' })

#Convert Release Date into date type (use to_datetime method)
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d')

df.dtypes

movie_id                 int64
title                   object
mpaa_rating             object
budget                   int64
gross                    int64
release_date    datetime64[ns]
genre                   object
runtime                float64
rating                 float64
rating_count           float64
dtype: object

In [149]:
#  show the movies with more than 7 in Rating & greater than 50 million Gross
rating_7_plus=df['rating']>7
gross_50m_plus=df['gross']>50000000
print(df[(rating_7_plus)&(gross_50m_plus)])

     movie_id                                title mpaa_rating     budget  \
1           2                   Driving Miss Daisy          PG    7500000
2           3                       Turner & Hooch          PG   13000000
3           4           Born on the Fourth of July           R   14000000
4           5                      Field of Dreams          PG   15000000
6           7              When Harry Met Sally...           R   16000000
..        ...                                  ...         ...        ...
505       506                           Big Hero 6          PG  165000000
506       507                         Interstellar       PG-13  165000000
507       508  Captain America: The Winter Soldier       PG-13  170000000
508       509       Dawn of the Planet of the Apes       PG-13  170000000
509       510              Guardians of the Galaxy       PG-13  170000000

         gross release_date            genre  runtime  rating  rating_count
1    145793296   1989-12-13           Comedy     99.0     7.4       91075.0
2     71079915   1989-07-28            Crime    100.0     7.2       91415.0
3    161001698   1989-12-20              War    145.0     7.2       91415.0
4     84431625   1989-04-21            Drama    107.0     7.5      101702.0
6     92800000   1989-07-21          Romance     96.0     7.6      180871.0
..         ...          ...              ...      ...     ...           ...
505  652105443   2014-10-24        Animation    102.0     7.8      380953.0
506  675120017   2014-11-05  Science Fiction    169.0     8.6     1343549.0
507  714766572   2014-03-20           Action    136.0     7.7      685903.0
508  710644566   2014-06-26  Science Fiction    130.0     7.6      395425.0
509  773328629   2014-07-30           Action    121.0     8.0      978222.0

[224 rows x 10 columns]

In [150]:
# show the movies with more than 7 in Rating & greater than 50 million Gross & 
#with Parental guidance as MPAA Rating


mpaa_pg=df['mpaa_rating']=='PG'
print(df[(rating_7_plus)&(gross_50m_plus)&(mpaa_pg)])

     movie_id                                     title mpaa_rating  \
1           2                        Driving Miss Daisy          PG
2           3                            Turner & Hooch          PG
4           5                           Field of Dreams          PG
7           8                        Dead Poets Society          PG
13         14                                    Batman          PG
15         16                        The Little Mermaid          PG
16         17                Back to the Future Part II          PG
19         20                           Steel Magnolias          PG
24         25                                Home Alone          PG
32         33                  The Hunt for Red October          PG
34         35               Back to the Future Part III          PG
45         46           Teenage Mutant Ninja Turtles II          PG
46         47                      Beauty and the Beast          PG
49         50    Star Trek VI: The Undiscovered Country          PG
72         73                     A League of Their Own          PG
80         81                             Groundhog Day          PG
106       107                    Star Trek: Generations          PG
126       127                        Mr. Holland's Opus          PG
130       131                                 Apollo 13          PG
174       175                                   Contact          PG
185       186                           The Truman Show          PG
188       189                       The Prince of Egypt          PG
215       216                                    Tarzan          PG
220       221                       Remember the Titans          PG
241       242                                     Shrek          PG
255       256     Harry Potter and the Sorcerer's Stone          PG
261       262                                   Ice Age          PG
270       271   Harry Potter and the Chamber of Secrets          PG
304       305                           The Incredibles          PG
309       310  Harry Potter and the Prisoner of Azkaban          PG
311       312                                   Shrek 2          PG
385       386                             Kung Fu Panda          PG
410       411                        Monsters vs Aliens          PG
411       412                                        Up          PG
415       416    Harry Potter and the Half-Blood Prince          PG
420       421                             Despicable Me          PG
425       426                                  Megamind          PG
428       429                  How to Train Your Dragon          PG
435       436                                   Tangled          PG
447       448          Puss in Boots: The Three Diablos          PG
451       452                           Kung Fu Panda 2          PG
461       462                        Hotel Transylvania          PG
466       467                            Wreck-It Ralph          PG
468       469                                     Brave          PG
480       481                           Despicable Me 2          PG
484       485                                The Croods          PG
485       486                                    Frozen          PG
498       499                            The Lego Movie          PG
503       504                How to Train Your Dragon 2          PG
505       506                                Big Hero 6          PG

        budget       gross release_date            genre  runtime  rating  \
1      7500000   145793296   1989-12-13           Comedy     99.0     7.4
2     13000000    71079915   1989-07-28            Crime    100.0     7.2
4     15000000    84431625   1989-04-21            Drama    107.0     7.5
7     16400000   235860116   1989-06-02            Drama    129.0     8.1
13    35000000   411348924   1989-06-23           Action    126.0     7.5
15    40000000   222300000   1989-11-17        Animation     83.0     7.6
16    40000000   332000000   1989-11-20  Science Fiction    108.0     7.8
19    15000000    95904091   1989-11-15            Drama    119.0     7.3
24    18000000   476684675   1990-11-09           Family    103.0     7.6
32    30000000   199200000   1990-03-02         Thriller    134.0     7.6
34    40000000   244527583   1990-05-25           Family    118.0     7.4
45    25000000    78600000   1991-03-22           Action     88.0     8.0
46    25000000   377350553   1991-11-13        Animation     84.0     8.0
49    27000000    96900000   1991-12-05  Science Fiction    113.0     7.2
72    40000000   107458785   1992-07-01           Comedy    128.0     7.2
80    14600000    70906973   1993-02-11           Comedy    101.0     8.0
106   38000000   120000000   1994-11-17  Science Fiction    118.0     8.5
126   31000000   106269971   1995-12-29           Family    137.0     7.3
130   52000000   355237933   1995-06-30            Drama    140.0     7.6
174   90000000   171120329   1997-07-11  Science Fiction    150.0     7.4
185   60000000   264118201   1998-06-04           Comedy    103.0     8.1
188   70000000   218613188   1998-12-15        Animation     99.0     7.1
215  150000000   448000000   1999-06-18        Animation     88.0     7.3
220   30000000   136706683   2000-09-29            Drama    113.0     7.8
241   60000000   484409218   2001-05-16        Animation     90.0     7.8
255  125000000   975100000   2001-11-04          Fantasy    152.0     7.6
261   59000000   383257136   2002-03-10        Animation     81.0     7.5
270  100000000   876688482   2002-11-13          Fantasy    161.0     7.4
304   92000000   631442092   2004-11-05        Animation    115.0     8.0
309  130000000   789804554   2004-05-31          Fantasy    141.0     7.9
311  150000000   919838758   2004-05-19        Animation     93.0     7.2
385  130000000   631744560   2008-06-04        Animation     90.0     7.5
410  175000000   381509870   2009-03-19        Animation     94.0     7.7
411  175000000   735099082   2009-05-13        Animation     96.0     8.2
415  250000000   933959197   2009-07-07          Fantasy    153.0     7.6
420   69000000   543513985   2010-07-08        Animation     95.0     7.6
425  130000000   321887208   2010-10-28        Animation     95.0     7.2
428  165000000   494878759   2010-03-05        Animation     98.0     8.1
435  260000000   591794936   2010-11-24        Animation    100.0     7.7
447  130000000   555000000   2011-12-08        Animation    130.0     7.8
451  150000000   665692281   2011-05-25        Animation     91.0     7.2
461   85000000   358375603   2012-09-20        Animation     91.0     7.1
466  165000000   471222889   2012-11-01        Animation    108.0     7.7
468  185000000   538983207   2012-06-21        Animation     93.0     7.1
480   76000000   970761885   2013-06-25        Animation     98.0     7.4
484  135000000   585178928   2013-03-20        Animation     98.0     7.2
485  150000000  1274219009   2013-11-27        Animation    102.0     7.5
498   60000000   469160692   2014-02-06        Animation    100.0     7.8
503  145000000   609123048   2014-06-12        Animation    102.0     7.8
505  165000000   652105443   2014-10-24        Animation    102.0     7.8

     rating_count
1         91075.0
2         91415.0
4        101702.0
7        382002.0
13       319517.0
15       219221.0
16       438940.0
19        43037.0
24       414472.0
32       167212.0
34       369652.0
45       397467.0
46       397467.0
49        66086.0
72        85932.0
80       549538.0
106      869127.0
126       33906.0
130      250975.0
174      239569.0
185      859224.0
188      110340.0
215      187724.0
220      186997.0
241      574978.0
255      583224.0
261      411963.0
270      505027.0
304      617102.0
309      501648.0
311      391295.0
385      390478.0
410      374981.0
411      867393.0
415      429384.0
420      473121.0
425      212563.0
428      624128.0
435      374981.0
447      727724.0
451      234612.0
461      208916.0
466      354202.0
468      346490.0
480      350582.0
484      180043.0
485      527284.0
498      309295.0
503      285394.0
505      380953.0

In [151]:
#count of Animation movies with more than 7 in Rating (use the shape() function)

is_Animation= df['genre']=='Animation'
to_count= df[(rating_7_plus)&(is_Animation)]
to_count.shape

#Answer: 39

(39, 10)

In [152]:
#show the list of top 5 movies based on Budget
df.sort_values(by='budget', ascending=False).head()

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5
375,376,Pirates of the Caribbean: At World's End,PG-13,300000000,961000000,2007-05-19,Adventure,169.0,7.1,565402.0

In [165]:
# show the top 5 Comedy movies by Rating

is_Comedy= df['genre']=='Comedy'

df[is_Comedy].sort_values(by='rating', ascending=False).head()

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,year
111,112,Forrest Gump,PG-13,55000000,677945399,1994-07-06,Comedy,142.0,8.8,1657851.0,1994
185,186,The Truman Show,PG,60000000,264118201,1998-06-04,Comedy,103.0,8.1,859224.0,1998
254,255,"Monsters, Inc.",G,115000000,562816256,2001-11-01,Comedy,92.0,8.0,758349.0,2001
80,81,Groundhog Day,PG,14600000,70906973,1993-02-11,Comedy,101.0,8.0,549538.0,1993
164,165,As Good as It Gets,PG-13,50000000,314178011,1997-12-19,Comedy,139.0,7.7,258974.0,1997

In [166]:
#top 5 movie names by Rating

df.sort_values(by='rating', ascending=False).head()['title']

393                                  The Dark Knight
83                                  Schindler's List
287    The Lord of the Rings: The Return of the King
99                                      Pulp Fiction
98                                 Jurassic Park III
Name: title, dtype: object

In [170]:
#top 3 high Gross Romance movies released after 1999, not included (typecast it to datetime)



is_Romance= df['genre']=='Romance'
df['year'] = pd.DatetimeIndex(df['release_date']).year
after_1999 = df['year']>1999
df[(is_Romance)&(after_1999)].sort_values(by='budget', ascending=False).head(3)

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,year
464,465,The Twilight Saga: Breaking Dawn - Part 2,PG-13,120000000,829000000,2012-11-13,Romance,115.0,5.5,218357.0,2012
442,443,The Twilight Saga: Breaking Dawn - Part 1,PG-13,110000000,712171856,2011-03-15,Romance,117.0,4.9,211592.0,2011
419,420,The Twilight Saga: Eclipse,PG-13,68000000,698491347,2010-06-23,Romance,124.0,5.0,215110.0,2010

In [171]:
#   how many Genres are present in the dataframe? (use the function value_counts()

print('nr of different genre:',df['genre'].value_counts().count())

df['genre'].value_counts()

nr of different genre: 16

genre
Action             110
Comedy              99
Animation           87
Drama               66
Thriller            41
Science Fiction     37
Adventure           30
Family              29
Romance             28
Fantasy             27
Crime               17
Horror              14
Mystery             11
War                  9
Western              6
History              4
Name: count, dtype: int64

In [176]:
#top 5 expensive movies released after 1999, not included (measured by Budget)

df[after_1999].sort_values(by='budget', ascending=False).head()

,movie_id,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,year
594,595,Avengers: Infinity War,PG-13,400000000,2048000000,2018-04-23,Action,149.0,6.9,240347.5,2018
454,455,Pirates of the Caribbean: On Stranger Tides,PG-13,380000000,1045713802,2011-05-14,Action,136.0,6.6,455211.0,2011
614,615,Avengers: Endgame,PG-13,356000000,2796000000,2019-04-22,Action,181.0,6.9,240347.5,2019
574,575,Star Wars: The Last Jedi,PG-13,317000000,1333000000,2019-12-09,Science Fiction,152.0,6.9,240347.5,2019
573,574,Justice League,PG-13,300000000,657900000,2017-11-15,Action,120.0,6.9,240347.5,2017

In [187]:
#  most & least frequent MPAA Rating in the dataset in terms of occurrences

mpaa_counts=df['mpaa_rating'].value_counts()
print('most frequent mpaa:', mpaa_counts.index[0])
print('least frequent mpaa:', mpaa_counts.index[-1])

most frequent mpaa: PG-13
least frequent mpaa: G

In [217]:
# most and least expensive Genre 
#(take an average of all Budget measures grouped by Genre - use groupBy() method)
genre_cost=df.groupby('genre')['budget'].mean()
genre_cost.sort_values(ascending=False)

genre
Fantasy            1.612111e+08
Action             1.441682e+08
Adventure          1.338333e+08
Science Fiction    1.267838e+08
Animation          1.158793e+08
Mystery            1.035455e+08
War                9.075556e+07
Thriller           8.658537e+07
Western            7.983333e+07
Family             6.268966e+07
Crime              5.658824e+07
Drama              5.592576e+07
History            5.550000e+07
Comedy             4.957727e+07
Romance            4.540020e+07
Horror             3.700429e+07
Name: budget, dtype: float64

In [225]:
# which Genre is favored the most by the people?
df.groupby('genre')['rating'].mean().sort_values(ascending=False)

genre
History            7.625000
War                7.355556
Fantasy            7.337037
Western            7.333333
Drama              7.193939
Science Fiction    7.151351
Animation          7.110345
Thriller           6.995122
Action             6.985455
Crime              6.876471
Mystery            6.827273
Horror             6.735714
Adventure          6.696667
Comedy             6.631313
Romance            6.400000
Family             6.117241
Name: rating, dtype: float64